@model HouYun3.Models.Category

<h2>Delete Category</h2>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <h4>Category:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
