@model IEnumerable<Category>

<h2>All Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@category.CategoryId" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
