@model HouYun.ViewModels.forVideo.SearchViewModel

@if (Model.Videos.Any()){
    <h3>Результаты поиска по запросу "@Model.SearchTerm"</h3>
    <partial name="VideoCard" model="Model.Videos" />
}
else
{
    <h3>По вашему запросу "@Model.SearchTerm" ничего не найдено.</h3>
}