@model HouYun.ViewModels.forVideo.SearchViewModel

@{
    ViewData["Title"] = @Model.SearchTerm;
}

@if (Model.Videos.Any()) {
    <h3 style="margin-bottom: 20px;">
        Результат по запросу '@Model.SearchTerm'
    </h3>
    <partial name="VideoCard" model="Model.Videos" />
}
else
{
    <h3>По вашему запросу "@Model.SearchTerm" ничего не найдено.</h3>
}