@model IEnumerable<Video>

@{
    ViewData["Title"] = "История просмотров";
}

@if (Model.Any())
{
    <h3>История просмотров</h3>
    <p>
        <form method="post" asp-action="DeleteAllWatchHistory" asp-controller="WatchHistory" class="mt-3">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-light btn-sm">Очистить историю</button>
        </form>
    </p>

    <partial name="VideoCard" model="Model" />
}
else
{
    <h3>У вас нет истории просмотров</h3>
}