@model IEnumerable<WatchLater>

@{
    ViewData["Title"] = "Watch Later List";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Video</th>
                <th>Added Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Video.Title</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.WatchLaterId">Details</a> |
                        <a asp-action="RemoveFromWatchLater" asp-route-watchLaterId="@item.WatchLaterId" onclick="return confirm('Are you sure you want to remove this video from the watch later list?')">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No videos in the watch later list.</p>
}

@section Scripts {
    <script>
        
    </script>
}