@model List<HouYun3.Models.Video>

<h1>User Videos</h1>

<p>
    <a asp-action="Upload">Upload New Video</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => video.Title)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@video.VideoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
