.table {
    color: inherit;
}

#Id {
    width: 200px;
}

#Words {
    width: 900px;
}

#Username {
    width: 350px;
}

#ChannelName {
    width: 350px;
}

a {
    color: inherit;
    text-decoration: none;
}