.video-notification {
    max-height: 116px;
    margin-bottom: 11px;
    overflow: hidden;
    word-break: break-word;
}

.video-data {
    font-size: small;
    margin-bottom: 0px;
}

    .video-data a {
        color: inherit;
    }

.video {
    display: flex;
    height: 96px;
}

    .video a {
        color: inherit;
    }


.poster-notification {
    width: 165px;
    height: 93px;
    border-radius: 10px;
    padding-right: 5px;
    padding-top: 5px;
    object-fit: cover;
}

.notification-title {
    font-weight: 600;
}

.message-notification {
    margin-bottom: 10px;
    word-break: break-word;
}

.time {
    font-size: small;
    margin-bottom: 0px;
}

.message {
    font-size: medium;
    font-weight: 600;
    margin-bottom: 0px;
}