.channel-item {
    max-height: 25px;
    margin-bottom: 8px;
}

    .channel-item a {
        font-weight: 600;
        display: block;
        text-decoration: none;
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
    }
