<div>
    <h3>
        <a href="@Url.Action("CategoryManagement", "Admin")">Управление категориями</a>
    </h3>
    <h3>
        <a href="@Url.Action("UserManagement", "Admin")">Управление пользователями</a>
    </h3>
    <h3>
        <a href="@Url.Action("VideoManagement", "Admin")">Управление видео</a>
    </h3>
</div>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />