@model IEnumerable<User>

<h2>Пользователи</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Никнейм</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="RemoveUser" asp-route-id="@user.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить пользователя</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />