@model IEnumerable<Video>

<h2>Видео</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td id="Id">@video.VideoId</td>
                <td id="Words">@video.Title</td>
                <td>
                    <form asp-action="RemoveVideo" asp-route-id="@video.VideoId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить видео</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />