#ChangeUserNameForm input[type="text"],
#ChangeUserNameForm input[type="password"] {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #282940;
    color: #E0e0e0;
    width: 580px;
    height: 45px;
    outline: none;
    border: 2px solid transparent;
}

    #ChangeUserNameForm input[type="text"]::placeholder,
    #ChangeUserNameForm input[type="password"]::placeholder {
        padding-left: 5px;
    }

    #ChangeUserNameForm input[type="text"]:focus,
    #ChangeUserNameForm input[type="password"]:focus {
        border-color: #707070;
        border-width: 2px;
    }

#ChangeUserNameForm .sunbit-but input[type="submit"] {
    width: 180px;
    height: 45px;
    background-color: #1F1B3C;
    color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: normal;
}

    #ChangeUserNameForm .sunbit-but input[type="submit"]:hover {
        background-color: #2B2751;
    }