body {
    background: radial-gradient(ellipse at right top, #0F1120, #020E2D);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #e0e0e0;
}

h2 {
    font-size: 64px;
    font-weight: normal;
    position: absolute;
    left: 820px;
    top: 160px;
}
    h2 img {
        width: 90px;
        height: 60px;
        margin-right: 5px;
    }

.square-container {
    position: absolute;
    width: 650px;
    height: auto;
    background-color: #171830;
    border-radius: 25px;
    left: 635px;
    top: 305px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .square-container form {
        width: 100%;
        height: 100%;
    }

.login-text {
    color: #e0e0e0;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: normal;
    display: block;
}

.separator {
    width: 590px;
    height: 1px;
    background-color: #707070;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
input[type="password"] {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #282940;
    color: #E0e0e0;
    width: 580px;
    height: 45px;
    outline: none;
    border: 2px solid transparent;
    margin: 15px auto;
    display: block;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: #707070;
        border-width: 2px;
    }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #282940 inset;
    -webkit-text-fill-color: #e0e0e0;
    border: none;
    outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    padding-left: 5px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #282940;
    border: 2px solid #707070;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    display: block;
}

    input[type="checkbox"]:checked {
        background-color: #5487B7;
    }

input[type="hidden"] {
    display: none;
}

.rememberme {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 32px;
    margin-bottom: 10px;
}

    .rememberme label {
        margin-left: 5px;
        font-size: 16px;
        color: #e0e0e0;
    }

    .rememberme input[type="checkbox"] {
        margin-right: 5px;
        margin-left: 5px;
    }

.sunbit-but {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

    .sunbit-but input[type="submit"] {
        left: 105px;
        width: 180px;
        height: 45px;
        background-color: #1F1B3C;
        color: #e0e0e0;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        font-weight: normal;
    }

        .sunbit-but input[type="submit"]:hover {
            background-color: #2B2751;
        }

.registration-button {
    font-family: "Roboto", sans-serif;
    margin-left: 215px;
    width: 180px;
    height: 45px;
    background-color: #1F1B3C;
    color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: normal;
}

    .registration-button:hover {
        background-color: #2B2751;
    }

.login li {
    list-style-type: none;
    color: #e0e0e0;
}

.custom-error {
    color: #e0e0e0;
    margin-left: 35px;
}