.row.mb-3 {
    margin-bottom: 3rem;
}

.d-flex.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.nav-link {
    color: #e0e0e0;
    padding: 2px 8px;
    border: 1px solid #6c757d;
    border-radius: 0.55rem;
    margin-right: 1rem;
}

    .nav-link:hover {
        background-color: #0F1020;
        color: #e0e0e0;
    }

    .nav-link.active {
        background-color: #0F1020;
        color: #e0e0e0;
    }

.my-custom-col {
    width: 324px;
}

    .my-custom-col.full-width {
        width: 364.5px;
    }

.card {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 330px;
    background-color: inherit;
    border: none;
}

    .card.full-width {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 375px;
        background-color: inherit;
        border: none;
    }

.card-img-top {
    width: 310px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

    .card-img-top.full-width {
        width: 350px;
        height: 205px;
        object-fit: cover;
        border-radius: 10px;
    }

.card-body {
    flex-grow: 1;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 11px;
}

.card-title {
    font-weight: 600;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.zxc {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border: none;
    margin-right: -25px;
    outline: none;
    box-shadow: none;
}

    .zxc:focus,
    .zxc:active {
        outline: none;
        box-shadow: none;
        border: none;
    }

    .zxc .dropdown-toggle::after {
        display: none;
    }

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    display: none;
    background-color: transparent;
    border-radius: 5px;
    color: #e0e0e0;
    position: absolute;
    right: -25px;
    top: 100%;
    text-decoration: none;
}

.card-channel {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 12px;
    float: right;
}

    .card-title a,
    .card-channel a,
    .card-text a {
        color: inherit;
        text-decoration: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

#Title{
    font-size: 2em;
}