@model HouYun.ViewModels.forUser.ChangePasswordViewModel

<form id="ChangePasswordForm" method="post" asp-controller="User" asp-action="ChangePassword" class="custom-form">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="NewPassword" placeholder="Новый пароль" autocomplete="off">
    </div>

    <div>
        <input asp-for="OldPassword" placeholder="Старый пароль" autocomplete="off">
    </div>

    <div class="sunbit-but">
        <input type="submit" id="submitBtn" value="Изменить пароль" />
    </div>

</form>

@* <link rel="stylesheet" href="~/css/ChangePassword.css" asp-append-version="true" /> *@

@* <script>
    $(document).ready(function () {
        $('#submitBtn').click(function () {
            var formData = new FormData($('#ChangePasswordForm')[0]);

            $.ajax({
                url: '@Url.Action("ChangePassword", "User")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#ChangePassword').modal('hide');
                        $('#ChangePasswordForm')[0].reset();
                        location.reload();
                    } else {
                        $('#modal-bodyChangePassword').html(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script> *@
