@model HouYun.ViewModels.forUser.ChangeUsenameViewModel

<form id="ChangeUsernameForm" method="post" asp-controller="User" asp-action="ChangeUsername">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="NewUsername" id="ChangeUsername" placeholder="Новый ник" autocomplete="off">
    </div>

    <div>
        <input asp-for="Password" id="ChangeUsername" placeholder="Пароль" autocomplete="off">
    </div>

    <div class="sunbit-but">
        <input type="submit" id="ChangeUsername" value="Изменить имя" />
    </div>

</form>

<link rel="stylesheet" href="~/css/сhangeUsername.css" asp-append-version="true" />

<script>
    $(document).ready(function () {
        $('#ChangeUsernameForm').submit(function (event) {
            event.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: '@Url.Action("ChangeUsername", "User")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#ChangeUsername').modal('hide');
                        $('#ChangeUsernameForm')[0].reset();
                        location.reload();
                    } else {
                        $('#modal-bodyChangeUsername').html(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>