@model HouYun.ViewModels.forUser.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<h2>HouYun</h2>
<form method="post" asp-controller="user" asp-action="ChangePassword" class="custom-form">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="back-button-container">
        <a class="back-button" asp-controller="Video" asp-action="">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5L4 12M4 12L12 19M4 12L21 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>

    <div>
        <input asp-for="NewPassword" placeholder="Новый пароль" autocomplete="off">
    </div>

    <div>
        <input asp-for="OldPassword" placeholder="Старый пароль" autocomplete="off">
    </div>

    <div class="sunbit-but">
        <input type="submit" value="Изменить пароль" />
    </div>

</form>

<style>
    .custom-form {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }




    input[type="password"] {
        font-size: 16px;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #282940;
        color: #E0e0e0;
        width: 580px;
        height: 45px;
        outline: none;
        border: 2px solid transparent;
    }

        input[type="password"]::placeholder {
            padding-left: 5px;
        }

        input[type="password"]:focus {
            border-color: #707070;
            border-width: 2px;
        }

    .sunbit-but input[type="submit"] {
        width: 180px;
        height: 45px;
        background-color: #1F1B3C;
        color: #e0e0e0;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
    }

        .sunbit-but input[type="submit"]:hover {
            background-color: #2B2751;
        }

    .back-button-container {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .back-button-container {
        position: absolute;
        top: -50px;
        right: 0;
    }

    .back-button {
        background-color: #1F1B3C;
        color: #ffffff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

        .back-button:hover {
            background-color: #2B2751;
        }

        .back-button svg {
            width: 70%;
            height: auto;
        }

    h2 {
        font-size: 64px;
        font-weight: normal;
        position: absolute;
        left: 911px;
        top: 160px;
    }

</style>