@model HouYun3.ViewModels.forUser.UpdateChannelViewModel
@{
    ViewBag.Title = "Изменение канала";
}

<form method="post" asp-controller="Channel" asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="ChannelName"></label>
        <input asp-for="ChannelName" name="ChannelName" />
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" name="Description" />
    </div>

    <div>
        <input type="submit" value="Изменить канал" />
    </div>
</form>
