@model HouYun.ViewModels.forUser.UpdateChannelViewModel

<form id="updateForm" method="post" asp-controller="Channel" asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="ChannelName" placeholder="Имя канала" autocomplete="off">
    </div>

    <div>
        <textarea asp-for="Description" placeholder="Описание канала" autocomplete="off"></textarea>
    </div>

    <div class="sunbit-but">
        <input type="submit" value="Изменить канал" />
    </div>
</form>

<link rel="stylesheet" href="~/css/forChannel/channelUpdate.css" asp-append-version="true" />

<script>
    $(document).ready(function () {
        $('#updateForm').submit(function (event) {
            event.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: '@Url.Action("Update", "Channel")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#update').modal('hide');
                        $('#updateForm')[0].reset();
                        location.reload();
                    } else {
                        $('#modal-bodyUpdate').html(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('#update').on('hidden.bs.modal', function (e) {
            $('#updateForm')[0].reset();
        });
    });
</script>