@model HouYun.ViewModels.forUser.UpdateChannelViewModel

<form id="updateForm" method="post" asp-controller="Channel" asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="ChannelName" id="ChannelUpdate" placeholder="Новый ник" autocomplete="off">
    </div>

    <div>
        <textarea asp-for="Description" id="ChannelUpdate" placeholder="Здесь должно быть ваше описание" autocomplete="off"></textarea>
    </div>

    <div class="sunbit-but">
        <input type="submit" id="ChannelUpdate" value="Изменить канал" />
    </div>
</form>

<link rel="stylesheet" href="~/css/updateVideo.css" asp-append-version="true" />
<script src="~/js/updateVideo.js"></script>
