@model HouYun.ViewModels.forUser.UpdateChannelViewModel

<style>
    input[type="text"] {
        font-size: 16px;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #282940;
        color: #E0e0e0;
        width: 580px;
        height: 45px;
        outline: none;
        border: 2px solid transparent;
    }

        input[type="text"]::placeholder,
        input[type="password"]::placeholder {
            padding-left: 5px;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #707070;
            border-width: 2px;
        }


    .sunbit-but input[type="submit"] {
        width: 180px;
        height: 45px;
        background-color: #1F1B3C;
        color: #e0e0e0;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
    }

        .sunbit-but input[type="submit"]:hover {
            background-color: #2B2751;
        }

    h2 {
        font-size: 64px;
        font-weight: normal;
        position: absolute;
        left: 911px;
        top: 160px;
    }

    textarea {
        font-size: 16px;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #282940;
        color: #E0e0e0;
        width: 580px;
        min-height: 90px;
        max-height: 190px;
        resize: none;
        outline: none;
        border: 2px solid transparent;
    }

        textarea::placeholder {
            padding-left: 5px;
        }

        textarea:focus {
            background-color: #282940;
            border-color: #707070;
            border-width: 2px;
        }


    ::-webkit-scrollbar {
        width: 12px;
        border-radius:20px;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #6d6d6d;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: #282940;
        border-radius: 30px;
        border: 2px solid transparent;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #888;
    }
</style>
<form id="updateForm" method="post" asp-controller="Channel" asp-action="Update" class="custom-form">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="ChannelName" placeholder="Новый ник" autocomplete="off">
    </div>

    <div>
        <textarea asp-for="Description" placeholder="Здесь должно быть ваше описание" autocomplete="off"></textarea>
    </div>

    <div class="sunbit-but">
        <input type="submit" id="submitBtn" value="Изменить канал" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#updateForm').submit(function (event) {
            event.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: '@Url.Action("Update", "Channel")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#update').modal('hide');
                        $('#updateForm')[0].reset();
                        location.reload();
                    } else {
                        $('#modal-bodyUpdate').html(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>