@model HouYun.ViewModels.forUser.UpdateChannelViewModel

<form id="updateForm" method="post" asp-controller="Channel" asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="ChannelName"></label>
        <input asp-for="ChannelName" name="ChannelName" />
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" name="Description" />
    </div>

    <div>
        <input type="button" id="submitBtn" value="Изменить канал" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#submitBtn').click(function () {
            var formData = new FormData($('#updateForm')[0]);

            $.ajax({
                url: '@Url.Action("Update", "Channel")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#update').modal('hide');
                        $('#updateForm')[0].reset();
                        location.reload();
                    } else {
                        $('#modal-bodyUpdate').html(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>