@model IEnumerable<HouYun.Models.Video>

@if (Model != null && Model.Any())
{
    <h2>Список видео</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Постер</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td>@video.Title</td>
                    <td>@video.Description</td>
                    <td>
                        <img src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster" style="max-width: 100%;">
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@video.VideoId" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет видео для удаления.</p>
}