@model IEnumerable<HouYun.Models.Video>

@{
    ViewData["Title"] = "Удалить видео";
}

@if (Model != null && Model.Any())
{
    <h1 id="Title">Список видео</h1>
    <div class="container mt-4">
        <table class="table">
            <tbody>
                @foreach (var video in Model)
                {
                    <tr>
                        <td>
                            <img class="poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                        </td>
                        <td>
                            <h5 id="DeleteTitle">
                                @video.Title
                            </h5>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@video.VideoId" />
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Нет видео для удаления.</p>
}

<link rel="stylesheet" href="~/css/channelDelete.css" asp-append-version="true" />