@model HouYun.ViewModels.forUser.RegistrationViewModel

@{
    Layout = null;
}

<body>
    <div class="Login">
        <h2><img src="~/imges/LogoRL.png" style="width: 90px; height: 60px; margin-right: 5px;"/>HouYun</h2>
        <div class="square-container">
            <div class="register-text">Регистрация</div>
            <div class="separator"></div>
            <form method="post" asp-controller="Registration" asp-action="">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <span asp-validation-for="Email" class="custom-error"></span>
                    <input asp-for="Email" placeholder="Введите email" autocomplete="off">
                </div>

                <div>
                    <span asp-validation-for="UserName" class="custom-error"></span>
                    <input asp-for="UserName" placeholder="Введите логин" autocomplete="off">
                </div>

                <div>
                    <span asp-validation-for="Password" class="custom-error"></span>
                    <input asp-for="Password" placeholder="Введите пароль" autocomplete="off">
                </div>
                <div class="sunbit-but">
                    <input type="submit" value="Зарегистрироваться" />
                    <input type="button" value="Вход" onclick="location.href='@Url.Action("Index", "Login")'" class="enter-button" />
                </div>
            </form>
        </div>
    </div>
</body>

<link rel="stylesheet" href="~/css/forUser/registration.css" asp-append-version="true" />