.custom-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



input[type="text"],
input[type="password"] {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #282940;
    color: #E0e0e0;
    width: 580px;
    height: 45px;
    outline: none;
    border: 2px solid transparent;
}

    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
        padding-left: 5px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: #707070;
        border-width: 2px;
    }

.sunbit-but input[type="submit"] {
    width: 180px;
    height: 45px;
    background-color: #1F1B3C;
    color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: normal;
}

    .sunbit-but input[type="submit"]:hover {
        background-color: #2B2751;
    }

.back-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-button-container {
    position: absolute;
    top: -50px;
    right: 0;
}

.back-button {
    background-color: #1F1B3C;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

    .back-button:hover {
        background-color: #2B2751;
    }

    .back-button svg {
        width: 70%;
        height: auto;
    }

h2 {
    font-size: 64px;
    font-weight: normal;
    position: absolute;
    left: 911px;
    top: 160px;
}
