#upload .modal-dialog {
    width: 910px;
    height: 580px;
}

#upload .modal-content {
    background-color: #0B0922;
    color: inherit;
}

#delete .modal-dialog {
    max-width: 1100px;
    height: 580px;
}

#delete .modal-content {
    background-color: #0B0922;
    color: inherit;
}

.table {
    color: inherit;
}

.table td {
    border: none;
    text-align: left;
}

#posterDelete {
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

#DeleteTitle {
    width: 550px;
    height: 170px;
    overflow-wrap: break-word;
    text-align: left;
    margin: 0;
    padding: 0
}

#update .modal-dialog {
    width: 610px;
    height: 580px;
    border-radius: 15px;
}

#update .modal-content {
    background-color: #0B0922;
    color: inherit;
}
