html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0F1020;
    font-family: "Myanmar Khyay Font", sans-serif;
    color: #e0e0e0;
    transition: none;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #282940;
    border-radius: 30px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#myHeader {
    background-color: #0F1020;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9000;
}

    #myHeader .navbar-brand {
        font-size: 28px;
        color: #e0e0e0;
        position: absolute;
        top: 12px;
        left: 100px;
    }

#toggleSidebarButton .burger-line {
    background-color: #e0e0e0;
}

#notification-list {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    max-height: 172px;
    overflow-y: auto;
}

.wrapper {
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
    display: flex;
}

.sidebar {
    background-color: #0F1020;
    position: fixed;
    padding-left: 30px;
    height: 100%;
    width: 280px;
    font-size: 16px;
    z-index: 999;
}

    .sidebar ul li {
        list-style-type: none;
        margin-top: 10px;
        color: #e0e0e0;
        text-decoration: none;
    }

        .sidebar ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #e0e0e0;
        }

            .sidebar ul li a:hover {
                background-color: #ddd;
            }

#channels-list {
    margin-left: 8px;
    width: 225px;
}

.content {
    margin-left: 270px;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
    margin-top: 20px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn.btn-outline-secondary.btn-sm {
    color: inherit;
    background-color: transparent;
    box-shadow: none;
}

.custom-btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 7px;
    font-family: "Myanmar Khyay Font", sans-serif;
    color: #e0e0e0;
    transition: none;
}

    .custom-btn:focus,
    .custom-btn:active {
        outline: none;
        box-shadow: none;
        animation: none;
    }

.separator {
    margin-top: 10px;
    height: 1px;
    background-color: #707070;
    width: 230px;
}

.Channel {
    margin-top: 10px;
}

.burger-line {
    display: block;
    width: 30px;
    height: 1px;
    margin: 6px 0;
    border: none;
    outline: none;
    box-shadow: none;
}

#toggleSidebarButton {
    background: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

#toggleSidebarButton:focus,
.burger-line:focus {
    outline: none;
    border: none;
}

.hidden {
    display: none;
}

.menu {
    cursor: pointer;
    margin-right: 30px;
    font-size: 20px;
    position: absolute;
    right: 35px;
    top: 6px;
}

.dropdown-menu1 {
    position: absolute;
    top: 48px;
    right: 35px;
    display: none;
    background-color: #0B0922;
    padding: 10px;
    border-radius: 15px;
    box-shadow: none;
    border: none;
    width: 185px;
}

.dropdown-menu1 a {
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 10px;
    outline: none;
    border-radius: 15px;
}

.dropdown-menu1 a:hover {
    background-color: #282940;
    color: #e0e0e0;
}

.SubView {
    font-size: 18px;
    margin-top: 10px;
    color: #e0e0e0;
}

.zxc {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border: none;
    margin-right: -25px;
    outline: none;
    box-shadow: none;
}

    .zxc.dropdown-toggle::after {
    display: none;
    }

button.zxc:focus,
button.zxc:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.dropdown-menu {
    display: none;
    background-color: transparent;
    border-radius: 5px;
    color: #e0e0e0;
    position: absolute;
    right: -25px;
    top: 100%;
    text-decoration: none;
}

.dropdown-item {
    height: 100%;
    background-color: #0B0922;
    border-radius: 5px;
    color: #e0e0e0;
}

    .dropdown-item:hover {
        background-color: #282940;
        color: #e0e0e0;
        border-radius: 5px;
    }

    .dropdown-item:active {
        background-color: #282940;
    }

.menuheader {
    cursor: pointer;
    margin-right: 30px;
    font-size: 20px;
    right: 35px;
}

#notificationButton {
    padding: 15px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    background-color: #0B0922;
    width: 350px;
    height: 230px;
    border-radius: 15px;
    top: 48px;
    right: 140px;
}

.popup-header {
    padding: 10px;
    background-color: #0B0922;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.separatorheader {
    width: 320px;
    height: 1px;
    background-color: #e0e0e0;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9100;
}

.modal-content {
    background-color: #0B0922;
    color: inherit;
}

#ChangeUserName .modal-dialog {
    width: 615px;
    z-index: 9101;
    transform: translateY(90%);
}

#ChangeUserName .modal-content {
    border-radius: 20px;
}

#ChangePassword .modal-dialog {
    width: 615px;
    z-index: 9101;
    transform: translateY(90%);
}

#ChangePassword .modal-content {
    border-radius: 20px;
}

.container2 {
    width: 620px;
    margin: 0 auto;
}

#searchForm {
    display: flex;
}

#searchTerm {
    background-color: #0F1020;
    flex: 1;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 25px 0 0 25px;
    color: #e0e0e0;
    margin-right: -1px;
}

    #searchTerm:-webkit-autofill,
    #searchTerm:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #0F1020 inset;
        -webkit-text-fill-color: #e0e0e0;
        border-color: #707070;
    }

    #searchTerm:focus,
    #searchTerm:active {
        outline: none;
        box-shadow: none;
        border: 1px solid #707070;
    }

.search-button {
    background-color: #0F1020;
    border: 1px solid #707070;
    border-radius: 0 25px 25px 0;
    color: #e0e0e0;
    padding: 10px;
    cursor: pointer;
}

#searchTerm::placeholder {
    color: #707070;
}