html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.spacer {
    flex-grow: 0.02;
}

#Title {
    font-size: 3em;
    font-weight: bold;
}

#dropdownButton {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border: none;
    outline: none;
    box-shadow: none;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-body {
    flex-grow: 1;
}

.card.video-card {
    width: 300px;
    height: 360px;
    background-color: inherit;
    border: none;
}

.btn.btn-outline-secondary.btn-sm {
    color: inherit;
    background-color: transparent;
}

.card-title a,
.card-text a {
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.poster-image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0F1020;
    font-family: "Myanmar Khyay Font", sans-serif;
    color: #e0e0e0;
}

#myHeader {
    position: relative; /* Относительное позиционирование для корректного позиционирования текста */
}

    #myHeader .navbar-brand {
        font-size: 28px; /* Размер шрифта 32 пикселя */
        color: #e0e0e0; /* Цвет текста e0e0e0 */
        position: absolute; /* Абсолютное позиционирование для точного расположения текста */
        top: 20px; /* Расстояние по y -27 пикселей от верхнего края родительского элемента */
        left: 100px;
    }

.sidebar {
    position: fixed; /* Фиксируем позицию */
    top: 120px; /* Располагаем её с учетом смещения по вертикали */
    left: 35px; /* Располагаем её с учетом смещения по горизонтали */
    height: 100%; /* Занимает всю высоту экрана */
    width: 270px; /* Ширина боковой панели */
    background-color: #0f1020; /* Цвет фона боковой панели */
    padding-top: 20px; /* Добавляем отступ сверху */
}

    .sidebar ul li {
        list-style-type: none; /* Убираем маркеры списка */
    }

        .sidebar ul li a {
            display: block; /* Делаем ссылки блочными элементами */
            padding: 10px; /* Добавляем отступы */
            text-decoration: none; /* Убираем подчеркивание ссылок */
            color: #e0e0e0; /* Цвет текста e0e0e0 */
        }

            .sidebar ul li a:hover {
                background-color: #ddd; /* Изменяем цвет фона при наведении */
            }




