#upload .sunbit-but input[type="submit"] {
    width: 180px;
    height: 45px;
    background-color: #1F1B3C;
    color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: normal;
}

#upload .sunbit-but input[type="submit"]:hover {
    background-color: #2B2751;
}

#upload input[type="text"] {
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #282940;
    color: #E0e0e0;
    width: 766px;
    height: 45px;
    outline: none;
    border: 2px solid transparent;
}

#upload input[type="text"]::placeholder {
    padding-left: 5px;
}

#upload input[type="text"]:focus {
    border-color: #707070;
    border-width: 2px;
}

#upload textarea {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #282940;
    color: #E0e0e0;
    width: 766px;
    min-height: 100px;
    max-height: 150px;
    resize: none;
    outline: none;
    border: 2px solid transparent;
}

#upload textarea::placeholder {
    padding-left: 5px;
}

#upload textarea:focus {
    background-color: #282940;
    border-color: #707070;
    border-width: 2px;
}

#upload ::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}


#upload ::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 6px;
}

#upload ::-webkit-scrollbar-track {
    background-color: #282940;
    border-radius: 30px;
    border: 2px solid transparent;
}

#upload ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
