.video-list {
    width: 300px;
    height: 300px;
    flex-direction: column;
    float: right;
}

.video-item {
    margin-bottom: 20px;
    display: flex;
}

.video-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    background-color: inherit;
}

.poster-image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    flex-grow: 1;
    padding-left: 3px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

    .card-title a,
    .card-text a {
        color: inherit;
        text-decoration: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

.main-video {
    padding-right: 310px;
}

.video-channel {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.video-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .video-details p {
        margin-bottom: 0px;
    }
