@model IEnumerable<Channel>


@if (Model.Any())
{
    @foreach (var channel in Model)
    {
        <div class="channel-item">
            <a href="@Url.Action("Index", "Channel", new { channelName = channel.Name })">
                @channel.Name
            </a>
        </div>
    }
}
else
{
    <div>Пусто</div>
}

<link rel="stylesheet" href="~/css/subscribedChannels.css" asp-append-version="true" />