@model IEnumerable<Channel>


@if (Model.Any())
{
    @foreach (var channel in Model)
    {
        <a href="@Url.Action("Index", "Channel", new { channelName = channel.Name })">
            @channel.Name
        </a>
    }
}
else
{
    <p>Пусто</p>
}
