@model IEnumerable<Video>

@{
    ViewData["Title"] = "Подписки";
}

@if (Model.Any())
{
    <h1 id="Title">Новые</h1>
    <partial name="VideoCard" model="Model" />
}
else
{
    <h1 id="Title">Вы ни на кого не подписаны</h1>
}