@model IEnumerable<Video>

@{
    ViewData["Title"] = "Подписки";
}

@if (Model.Any())
{
    <h3 style="margin-bottom: 20px;">Новые</h3>
    <partial name="VideoCard" model="Model" />
}
else
{
    <h3>Вы ни на кого не подписаны</h3>
}