@model HouYun3.ViewModels.forUser.ChangeUsenameViewModel
@{
    ViewBag.Title = "Изменение Никнейма";
}

<form method="post" asp-controller="User" asp-action="ChangeUsername">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="NewUsername"></label>
        <input asp-for="NewUsername" name="NewUsername" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" name="Password" />
    </div>

    <div>
        <input type="submit" value="Изменить Никнейм" />
    </div>
</form>
