@model HouYun3.ViewModels.forUser.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<form method="post" asp-controller="@User.Identity.Name" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" />
    </div>

    <div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" />
    </div>

    <div>
        <input type="submit" value="Изменить пароль" />
    </div>

</form>