@model IEnumerable<Notification>

<h2>Notifications</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var notification in Model)
        {
            <a href="@Url.Action("Details", "Video", new { videoId = notification.VideoId })">@notification.Message</a>
        }
    </ul>
}
else
{
    <p>No notifications found.</p>
}
